
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EmoShare</title>

    <% include ./partials/ScriptsOnly.ejs%>
</head>

<body>

<% include ./partials/navbar.ejs%>

<%- body%>
</body>
</html>
