<% layout('layout')%>


<link rel="stylesheet" href="/css/landing.css">

<div class="container-fluid site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">Thank You for visiting.</h1>
                <h1 class="cover-heading">We hope it helped.</h1>
                <hr>
                <img src="/images/happy.png" style="max-height:125px;">
            </div>
        </div>

    </div>

</div>
